@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.animate-gradient {
  animation: gradient 10s ease infinite;
}
html, body {
  max-width: 100%;
  overflow-x: hidden !important;
  position: relative;
}
html,
body,
#root,
.app,
.app.dark-mode {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family:'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.55;
  letter-spacing: 0.15px;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  background-color: #020617;
}

@media (min-width: 640px) {
  body {
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  body {
    font-size: 17px;
  }
}

h1 {
  font-weight: 700;
  font-size: 26px;
}

@media (min-width: 640px) {
  h1 {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 34px;
  }
}

h2 {
  font-weight: 600;
  font-size: 20px;
}

@media (min-width: 640px) {
  h2 {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-weight: 600;
  font-size: 17px;
}

@media (min-width: 640px) {
  h3 {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  h3 {
    font-size: 20px;
  }
}

